USE [QuanLyBenhCa]
GO
/****** Object:  Table [dbo].[BaiDang]    Script Date: 10/11/2024 3:07:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiDang](
	[MaBD] [int] NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[MaNNC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BenhCa]    Script Date: 10/11/2024 3:07:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhCa](
	[MaBC] [int] NOT NULL,
	[TenBC] [nvarchar](100) NULL,
	[MoTaChiTietBenhCa] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BienPhapPhongNgua]    Script Date: 10/11/2024 3:07:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BienPhapPhongNgua](
	[MaBPPN] [int] NOT NULL,
	[TenBPPN] [nvarchar](max) NULL,
	[MaBenhCa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBPPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanCa]    Script Date: 10/11/2024 3:07:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanCa](
	[MaDC] [int] NOT NULL,
	[TenDanCa] [nvarchar](100) NULL,
	[SoLuong] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MaNNC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KetQuaChuanDoan]    Script Date: 10/11/2024 3:07:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQuaChuanDoan](
	[MaBC] [int] NOT NULL,
	[MaTCBC] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBC] ASC,
	[MaTCBC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuBenh]    Script Date: 10/11/2024 3:07:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuBenh](
	[NgayPhatHien] [date] NOT NULL,
	[KetQuaDieuTri] [nvarchar](100) NULL,
	[MaDC] [int] NOT NULL,
	[MaBC] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NgayPhatHien] ASC,
	[MaDC] ASC,
	[MaBC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 10/11/2024 3:07:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaND] [int] NOT NULL,
	[TenND] [nvarchar](100) NULL,
	[MatKhau] [nvarchar](100) NULL,
	[QuyenNguoiDung] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiNuoiCa]    Script Date: 10/11/2024 3:07:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiNuoiCa](
	[MaNNC] [int] NOT NULL,
	[HoTenNNC] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[MaND] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNNC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuongPhapDieuTri]    Script Date: 10/11/2024 3:07:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuongPhapDieuTri](
	[MaPPDT] [int] NOT NULL,
	[TenPPDT] [nvarchar](max) NULL,
	[MaBenhCa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPPDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTucDichBenh]    Script Date: 10/11/2024 3:07:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTucDichBenh](
	[MaTTDB] [int] NOT NULL,
	[TenTTDB] [nvarchar](100) NULL,
	[NgayDang] [date] NULL,
	[MoTa] [nvarchar](max) NULL,
	[MaBC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTTDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrieuChungBenhCa]    Script Date: 10/11/2024 3:07:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrieuChungBenhCa](
	[MaTCBC] [int] NOT NULL,
	[TenTrieuChung] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTCBC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DanCa] ([MaDC], [TenDanCa], [SoLuong], [TrangThai], [MaNNC]) VALUES (1, N'Ðàn cá Koi', 150, N'Tốt', 2)
INSERT [dbo].[DanCa] ([MaDC], [TenDanCa], [SoLuong], [TrangThai], [MaNNC]) VALUES (2, N'Ðàn cá vàng', 200, N'Bình Thường', 2)
GO
INSERT [dbo].[KetQuaChuanDoan] ([MaBC], [MaTCBC]) VALUES (1, 1)
INSERT [dbo].[KetQuaChuanDoan] ([MaBC], [MaTCBC]) VALUES (1, 2)
INSERT [dbo].[KetQuaChuanDoan] ([MaBC], [MaTCBC]) VALUES (1, 3)
GO
INSERT [dbo].[LichSuBenh] ([NgayPhatHien], [KetQuaDieuTri], [MaDC], [MaBC]) VALUES (CAST(N'2024-04-10' AS Date), N'Khỏi hoàn toàn', 1, 1)
INSERT [dbo].[LichSuBenh] ([NgayPhatHien], [KetQuaDieuTri], [MaDC], [MaBC]) VALUES (CAST(N'2024-05-15' AS Date), N'Đang điều trị', 2, 2)
GO
INSERT [dbo].[NguoiDung] ([MaND], [TenND], [MatKhau], [QuyenNguoiDung]) VALUES (1, N'admin', N'admin123', N'admin')
INSERT [dbo].[NguoiDung] ([MaND], [TenND], [MatKhau], [QuyenNguoiDung]) VALUES (2, N'user', N'user123', N'user')
INSERT [dbo].[NguoiDung] ([MaND], [TenND], [MatKhau], [QuyenNguoiDung]) VALUES (3, N'abc', N'abc', N'user')
GO
INSERT [dbo].[NguoiNuoiCa] ([MaNNC], [HoTenNNC], [Email], [SDT], [DiaChi], [MaND]) VALUES (1, N'Trần Thị Bích', N'tranthib@example.com', N'0987654321', N'Hồ Chí Minh', 2)
INSERT [dbo].[NguoiNuoiCa] ([MaNNC], [HoTenNNC], [Email], [SDT], [DiaChi], [MaND]) VALUES (2, N'Huỳnh Hữu Đức', N'huynhhuuduc5031@gmail.com', N'0123456798', N'Hồ Chí Minh', 1)
GO
INSERT [dbo].[PhuongPhapDieuTri] ([MaPPDT], [TenPPDT], [MaBenhCa]) VALUES (1, N'Điều trị bệnh trùng bánh xe', 1)
INSERT [dbo].[PhuongPhapDieuTri] ([MaPPDT], [TenPPDT], [MaBenhCa]) VALUES (2, N'Điều trị bệnh trùng mỏ neo', 2)
INSERT [dbo].[PhuongPhapDieuTri] ([MaPPDT], [TenPPDT], [MaBenhCa]) VALUES (3, N'Trường hợp 1: Cá đơn thuần nhiễm ký sinh trùng
+ Cắt mồi và xử lý kí sinh DE AGA, lưu ý dùng khi nước đứng hoặc bao xung quanh bè để xử lý hiệu quả.
+ Giảm 50-70% thức ăn và kết hợp sử dụng VB-PRAZI_concentrated + GATONIC pro, 2 ngày liên tiếp.
+ Sau khi xổ sử dụng BIO-X_pro (1L/15 tấn cá) để tăng cường hỗ trợ vi sinh tiêu hóa, chức năng gan.', 3)
GO
INSERT [dbo].[TrieuChungBenhCa] ([MaTCBC], [TenTrieuChung]) VALUES (1, N'Phân trắng')
INSERT [dbo].[TrieuChungBenhCa] ([MaTCBC], [TenTrieuChung]) VALUES (2, N'Da nhợt nhạt')
INSERT [dbo].[TrieuChungBenhCa] ([MaTCBC], [TenTrieuChung]) VALUES (3, N'Bụng sưng to')
GO
/****** Object:  Index [UQ_BienPhapPhongNgua_MaBenhCa]    Script Date: 10/11/2024 3:07:42 CH ******/
ALTER TABLE [dbo].[BienPhapPhongNgua] ADD  CONSTRAINT [UQ_BienPhapPhongNgua_MaBenhCa] UNIQUE NONCLUSTERED 
(
	[MaBenhCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_PhuongPhapDieuTri_MaBenhCa]    Script Date: 10/11/2024 3:07:42 CH ******/
ALTER TABLE [dbo].[PhuongPhapDieuTri] ADD  CONSTRAINT [UQ_PhuongPhapDieuTri_MaBenhCa] UNIQUE NONCLUSTERED 
(
	[MaBenhCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaiDang]  WITH CHECK ADD FOREIGN KEY([MaNNC])
REFERENCES [dbo].[NguoiNuoiCa] ([MaNNC])
GO
ALTER TABLE [dbo].[BienPhapPhongNgua]  WITH CHECK ADD FOREIGN KEY([MaBenhCa])
REFERENCES [dbo].[BenhCa] ([MaBC])
GO
ALTER TABLE [dbo].[DanCa]  WITH CHECK ADD FOREIGN KEY([MaNNC])
REFERENCES [dbo].[NguoiNuoiCa] ([MaNNC])
GO
ALTER TABLE [dbo].[KetQuaChuanDoan]  WITH CHECK ADD FOREIGN KEY([MaTCBC])
REFERENCES [dbo].[TrieuChungBenhCa] ([MaTCBC])
GO
ALTER TABLE [dbo].[KetQuaChuanDoan]  WITH CHECK ADD FOREIGN KEY([MaBC])
REFERENCES [dbo].[BenhCa] ([MaBC])
GO
ALTER TABLE [dbo].[LichSuBenh]  WITH CHECK ADD FOREIGN KEY([MaBC])
REFERENCES [dbo].[BenhCa] ([MaBC])
GO
ALTER TABLE [dbo].[LichSuBenh]  WITH CHECK ADD FOREIGN KEY([MaDC])
REFERENCES [dbo].[DanCa] ([MaDC])
GO
ALTER TABLE [dbo].[NguoiNuoiCa]  WITH CHECK ADD FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[PhuongPhapDieuTri]  WITH CHECK ADD FOREIGN KEY([MaBenhCa])
REFERENCES [dbo].[BenhCa] ([MaBC])
GO
ALTER TABLE [dbo].[TinTucDichBenh]  WITH CHECK ADD FOREIGN KEY([MaBC])
REFERENCES [dbo].[BenhCa] ([MaBC])
GO
